nav{
    background-color: #00796B;
    color: white;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    font-size: 34px;
}

nav ul{
    display: flex;
    gap: 25px;
}

nav ul li a{
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: #B2DFDB;
}


.btn-logout{
    background-color: white;
    color: #00796B;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-logout:hover{
    background-color: #B2DFDB;
}