.card-producto{
    background-color: white;
    width: 320px;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.2);
}

.card-producto h3{
    color: #00796B;
    margin-bottom: 15px;
}

.card-producto p{
    margin-bottom: 10px;
    font-size: 15px;
}

.btn-detalle{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #009688;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.btn-detalle:hover{
    background-color: #00796B;
}


.botones-admin{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.botones-admin button{
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.btn-editar{
    background-color: #7C4DFF;
}

.btn-eliminar{
    background-color: #c62828;
}